# Next.js
.next/
out/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.* 

# VSCode
.vscode/

# Logs
logs
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Misc
*.local
*.swp

# Optional: ignore systemd / pm2 dumps
*.pid
*.seed
dump.rdb

# Optional: ignore coverage reports (если используешь тесты)
coverage/

# Optional: ignore Turborepo cache (если ты используешь его)
.turbo/
